<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="y2019.aoc.yara.yaraaoc2019">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChickenActivity"></activity>
        <activity android:name=".SnakeActivity" />
        <activity android:name=".TurtleActivity" />
        <activity android:name=".HamsterActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".FishActivity" />
        <activity android:name=".RabbitActivity" />
        <activity android:name=".DogActivity" />
        <activity android:name=".CatActivity" />
        <activity android:name=".ListActivity" />
        <activity android:name=".signUpActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LogInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>